[submodule "soc-python-networking"]
	path = soc-python-networking
	url = https://github.com/dmandevv/soc-python-networking.git
[submodule "soc-python-exercises"]
	path = soc-python-exercises
	url = https://github.com/dmandevv/soc-python-exercises.git
